* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
/* header start */

.header {
	position: relative;
	z-index: 2;
	height: 110px;
	/* background-color: pink; */
	border-bottom: solid 1px #bababa;
	box-shadow: 0 2px 9px #8e8e8e;
}
.header-top {
	height: 64px;
	background: url('../img/header-top-bg.jpg');
	/* 清除浮动 */
	overflow: hidden;
}

.header-top-left {
	float: left;
}
.header-logo {
	width: 173px;
	height: 37px;
	background: url('../img/logo.png');
	margin-top: 10px;
	margin-left: 24px;
	float: left;
}
.header-btn, .header-user {
	float: left;
}

.header-btn button {
	width: 15px;
	height: 14px;
	background: url('../img/btn.png');
	/* 清除默认边框 */
	border: none;
	outline: none;
	margin-top: 27px;
	margin-left: 19px;
	/* 鼠标指针形状 */
	cursor: pointer;
	/* 盒子阴影 */
	box-shadow: 1px 1px 2px #676161;
	/* 盒子圆角边框 */
	border-radius: 4px;
}
.header-img {
	width: 38px;
	height: 38px;
	float: left;
	background-color: #fff;
	/* 改变盒子形状为一个圆 */
	border-radius: 50%;
	margin-top: 15px;
	margin-left: 34px;
	/* overflow: hidden; */
	position: relative;
}
.header-img img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.header-img span {
	/* 把行内元素转换为块元素 */
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #f24a39;
	position: absolute;
	right: -2px;
	top: -2px;
	font-size: 10px;
	color: #fff;
	text-align: center;
	/* 文字垂直居中 */
	line-height: 16px;
}
.header-username {
	float: left;
	margin-left: 8px;
	margin-top: 28px;
	color: #fff;
	/* 谷歌浏览器最小显示字体大小为12px */
	font-size: 10px;
}


ul li {
	list-style: none;
}

.header-top-right {
	float: right;
}

.header-top-right ul {
	overflow: hidden;
}
.header-top-right ul li {
	float: left;
	margin-right: 14px;
	color: #fff;
	margin-top: 28px;
	font-size: 12px;
	cursor: pointer;
}
.header-top-right .header-right-btn {
	margin-top: 19px;
}
.header-right-btn a {
	display: block;
	width: 80px;
	height: 28px;
	background-color: #fff;
	border-radius: 3px;
	line-height: 28px;
	color: #946666;
	font-size: 11px;
	/* 清除a标签的下滑线 */
	text-decoration: none;
}
/* 选择a标签里面的第一个span元素 */
.header-right-btn a span:nth-child(1) {
	display: inline-block;
	width:11px;
	height: 10px;
	background: url('../img/yifu.png');
	margin-left: 9px;
	margin-right: 8px;
	/* vertical-align: middle; */
	/* background-color: red; */
}
.header-right-btn a span:nth-child(2) {
	display: inline-block;
	width: 7px;
	height: 4px;
	background: url('../img/san.png');
	margin-left: 9px;
	/* 行内元素垂直方向的对其方式 */
	vertical-align: middle;
	/* background-color: blue; */
} 
/* 选择li标签里面的最后一个 里面的span*/
.header-top-right ul li:last-child span{
	display: block;
	width: 13px;
	height: 13px;
	background: url('../img/btn2.png');
	margin-top: 2px;
}

.header-nav {
	height: 45px;
	background-color: #f7f7f7;
}
.header-nav ul {
	overflow: hidden;
	float: left;
}
.header-nav ul li {
	float: left;
	margin-right: 38px;
	line-height: 45px;
	font-size: 12px;
}
.header-nav ul li a {
	color: #4f4f4f;
}
.header-nav ul li:first-child span{
	display: block;
	width: 24px;
	height: 23px;
	background: url('../img/home.png');
	margin-left: 32px;
	margin-top: 10px;
}
.header-nav-btn {
	float: right;
	width: 42px;
	height: 22px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #000;
	margin-top: 10px;
	margin-right: 26px;
}
.header-nav-btn span {
	display: inline-block;
	width: 50%;
	height: 100%;
	line-height: 42px;
}
.header-nav-btn span:nth-child(1) {
	background: url('../img/1.png') no-repeat center;
	cursor: pointer;
}
.header-nav-btn span:nth-child(2) {
	background: url('../img/1.png') no-repeat center;
	cursor: pointer;
	transform: rotate(180deg) translateY(-1px);
}

/* header end */

.main {}
.main-bar {
	/* 相对浏览器窗口定位 */
	position: fixed;
	/* 距离浏览器顶部的距离 */
	top: 110px;
	left: 0;
	bottom: 0;
	width: 204px;
	background-color: #ccc;
}
.main-bar>ul>li:nth-child(1) {
	height: 40px;
	width: 100%;
	background-color: #138fc9;
}
.main-bar>ul>li:nth-child(1) a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 12px;
	color: #fff;
	line-height: 40px;
	/* text-align: center; */
}
.main-bar>ul>li:nth-child(1) a span:first-child {
	float: left;
	width: 12px;
	height: 11px;
	background: url('../img/icon.png');
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 10px;

}
.main-bar>ul>li:nth-child(1) a span:last-child {
	float: right;
	width: 16px;
	height: 22px;
	/* background-color: #fff; */
	margin-top: 9px;
	/* 圆角边框可以设置四个值 分别是 上左 上右 右下 下左*/
	border-radius: 4px 0 0 4px;
	background: #fff url('../img/1.png') no-repeat center;
}
.main-bar-list {
	/* height: 36px; */
	width: 100%;
	background: url('../img/nav-bar-bg.jpg');
}
.main-bar-list>a {
	display: block;
	height: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 36px;
	color: #4a4a4a;
}
.main-bar-list>a:hover {
	color: #000;
	font-weight: bold;
}
.main-bar-list>a>span {
	float: left;
	width: 5px;
	height: 9px;
	background: url('../img/right.png');
	margin-top: 13px;
	margin-left: 14px;
	margin-right: 13px;
}
.main-list-item {
	padding: 14px 0;
	background: #fff;
	display: none;
}
.main-list-item li{
	height: 30px;
	line-height: 30px;
}
.main-list-item li a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 12px;
	color: #000;
}
.main-list-item li span {
	float: left;
	width: 12px;
	height: 15px;
	background: url('../img/wendang.jpg');
	margin-left: 34px;
	margin-top: 9px;
	margin-right: 8px;
}




.main-content {
	position: fixed;
	top: 110px;
	right: 0;
	bottom: 0;
	left: 204px;
	background-color: blue;
}
.main-box {
	width: 100%;
	height: 100%;
	font-size: 200px;
	display: none;
}