.box {
	$w: 20px !global;
	$h: 100px;
	$a: red;
	width: $w;
	height: $h;
	color: #ccc;
	background-color: $a;
	font-size: 20px;
	margin-left: 10px;
}
%abc {
	font-weight: bold;
	color: red;
}
p {
	@extend %abc;
	// font-size: $w;
}